<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

{{if .First}}
  <section>
      
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                      <p>You are logged in</p>                   
                </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div id="img ">
                    <img src="https://www.freecodecamp.org/news/content/images/size/w2000/2021/10/golang.png" width="800" height="147" class="img-fluid" alt="">
                </div>
                </div>
            </div>
        </div>
    
    </section>

       <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">

                    <h2><a href="/logout">log out</a></h2>
                   
                </div>
            </div>
        </div>


{{else}}
<h2><a href="/signup">sign up</a></h2>
<h2><a href="/login">log in</a></h2>
{{end}}


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>